.piles .card {
  padding: 20px;
}

.generic-gameview {
  display: none;
}

.gameview {
  text-align: center;
  border: 1px solid black;
  width: 400px;
}

.name {
  display: inline-block;
  padding: 3px;
}
.name:hover {
  background-color: #3AB;
}

.searchmsg {
  display: inline-block;
}

.nameinput {
  display: inline-block;
}
